{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <style>
        section {
            display: flex;
            justify-content: center;
            align-content: center;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            gap: 16px;
            padding: 2%;
            width: 50%;
        }
    </style>
{% endblock %}

{% block body %}
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.username) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn">Register</button>

    {{ form_end(registrationForm) }}

{% endblock %}
