{% extends 'base.html.twig' %}

{% block title %}Mes statistiques{% endblock %}

{% block links %}
<link rel="stylesheet" href="css/score.css" type="text/css">
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<div class='score d-flex justify-content-around'>
    <div class='score-gauche'>
        <div class='barre-haut d-flex gap-2'>
            <p class="mb-0">Quiz</p>
            <hr class="flex-grow-1"/>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="16">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z" />
            </svg>
        </div>
        <div>
            <div class="answers d-flex flex-column gap-2">
            {% for answer in answers %}
                <div class="answer">
                    <div class="answer-haut d-flex justify-content-between">
                        <p class="mb-0">{{ answer.quiz.name }}</p>
                        <p class="mb-0">
                            {% if answer.time.h > 0 %}
                                {{ answer.time.format('%h h ') }}
                            {% elseif answer.time.i > 0 %}
                                {{ answer.time.format('%I min ') }}
                            {% else %}
                                {{ answer.time.format('%S s ') }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="answer-bas d-flex justify-content-between">
                        <p class="mb-0">Date : {{ answer.datetime|date('d/m/Y') }}</p>
                        <p class="mb-0">Score : {{ answer.score }}/{{ answer.quiz.getMaxScore() }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="barre-bas">
        </div>
    </div>
    <div class='score-milieu'>

    </div>
    <div class='score-droite'>
    </div>
</div>
{% endblock %}
